/*============================ CARRO 9 ===============================*/

#carro1-inicio {
    background-image: url('carro9-capa.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro2-inicio {
    background-image: url('carro9-1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro3-inicio {
    background-image: url('carro9-2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro4-inicio {
    background-image: url('carro9-3.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro5-inicio {
    background-image: url('carro9-4.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro6-inicio {
    background-image: url('carro9-5.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro7-inicio {
    background-image: url('carro9-6.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro8-inicio {
    background-image: url('carro9-7.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro8-inicio {
    background-image: url('carro9-8.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro8-inicio {
    background-image: url('carro9-9.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}