/*============================ CARRO 4 ===============================*/

#carro1-inicio {
    background-image: url('carro4-capa.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro2-inicio {
    background-image: url('carro4-1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro3-inicio {
    background-image: url('carro4-2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro4-inicio {
    background-image: url('carro4-3.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro5-inicio {
    background-image: url('carro4-4.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro6-inicio {
    background-image: url('carro4-5.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro7-inicio {
    background-image: url('carro4-6.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro8-inicio {
    background-image: url('carro4-7.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}