/* ===================== ESTILO GERAL ===================== */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.interface {
    max-width: 1280px;
    margin: 0px auto;
}

.flex {
    display: flex;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(207, 206, 206, 0.863);
    color: black;
    transition: 0.3s ease-in-out;

    .topo-do-site .txt-topo-do-site p {
        background-color: #18181848;
    }

    footer {
        padding: 60px 4%;
        box-shadow: 0px 0px 40px 10px #0e0d0d2f;
    
    }
}

/* ===================== Modo escuro ===================== */
.dark-mode {
    background-color: black;
    color: white;

    .topo-do-site .txt-topo-do-site p {
        background-color: #f5f5f548;
    }

    footer {
        padding: 60px 4%;
        box-shadow: 0px 0px 40px 10px #ffffff10;
    
    }
}

/* Botão de alternância */
#modo-toggle {
    position: absolute;
    top: 17px;
    right: 13px;
    padding: 5px 5px;
    background: #4BB446;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}


.btn-contato {
    position: relative;
    overflow: hidden;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background: radial-gradient(circle at top left, #a8ff78, #087f23);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    position: relative;
    overflow: hidden;
}

/* ===================== Efeito o reflexo =====================*/

.btn-contato button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-45deg);
    animation: reflexo 3s infinite linear;
}

/* Animação do reflexo */
@keyframes reflexo {
    0% {
        left: -100%;
    }
    100% {
        left: 150%;
    }
}

.logo1 {
    height: 70px;
    width: 70px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ===================== ESTILO DO HEADER ===================== */

header {
    padding: 10px 4%;
    background-color: #000000;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.interface h1 {
    color: white;
}

header a {
    font-family: 'Times New Roman', Times, sans-serif;
    color: white;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    transition: .05s;
    font-size: 15px;
}

header li a:hover {
    color: #7c7c7c;
    transform: scale(1.05);
}


header nav ul {
    list-style: none;
    display: flex;
}

header nav.menu-desktop ul li {
    padding: 0px 60px;
    font-size: 20px;
}

.btn-contato button:hover {
    color: #fff;
    border-radius: 0px;
}

.menu-desktop a {
    position: relative;
    text-decoration: none;
    color: #7c7c7c;
    padding-bottom: 5px;
}

.menu-desktop a.ativo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #00ff6a; /* Cor da linha */
    transition: 0.3s ease-in-out;
}

/* ===================== MARCAS - CARROS ===================== */

.marcas {
    width: 70%;
    height: 70px;
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.marca {
    width: 70px;
    height: 70px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.marca img {
    width: 90px;
    height: 60px;
}

#marca1 img {
    margin-top: 10px;
    width: 100px;
    height: 40px;
}

#marca5 img {
    width: 100px;
    height: 60px;
    margin-left: -20px;
}

#marca6 img {
    width: 100px;
    height: 60px;
    margin-left: -20px;
}

/* ===================== ESTILO DO CORPO ===================== */

.carros {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    
}

.carro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 510px;
    color: #4D5C7B;
    font-weight: bolder;
    background-color: whitesmoke;
    border-radius: 3px;
}

.nome {
    display: flex;
    width: 300px;
    height: 50px;
    margin: 10px 0;
    align-items: center;
    padding: 0px 10px;
    font-weight: bolder;
}

.desc {
    width: 300px;
    height: 200px;
    padding: 10px;
}

.desc ul, li {
    list-style: none;
}

.sim-nao {
    background-color: rgb(22, 180, 30);
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 14px;
}


.saiba-mais {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(0, 0, 0, 0.555);
}

#saiba-mais {
    border-left: 1px solid rgba(0, 0, 0, 0.555); 
}

.btn-valor {
    font-size: 18px;
}

.saiba-mais button {
    font-size: 20px;
    font-weight: bolder;
    border: none;
    padding: 7px;
    width: 100%;
    height: auto;
    cursor: pointer;
    background-color: rgb(25, 194, 34);
}

#saiba-mais:hover {  
    background-color: rgb(2, 255, 15);
    transition: 0.2s;
    color: white;
}

.btn-valor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #000;
    padding: 10px 20px;
}

.carro img {
    width: 100%;
    height: auto;
}

.aviso {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: darkgreen;
    color: #fff;
}

a {
    text-decoration: none;
    text-transform: none;
}

/* ===================== FILTRO ===================== */

.filtro {
    border: none;
    text-decoration: none;
    text-transform: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 50px 0px;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

select{
    padding: 10px;
    border-radius: 10px;
    background-color: beige;
}

#preco {
    border-radius: 2px;
    padding: 0px;
    background-color: #00ff6a;
}

.filtro input {
    border: none;
    padding: 10px 5px;
    border-radius: 10px;
}

input, select{
    border: none;
    outline: none;
}

/* ===================== ESTILO DO HEADER ===================== */

header {
    padding: 10px 4%;
    background-color: #000000;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.interface h1 {
    color: white;
}

header a {
    font-family: 'Times New Roman', Times, sans-serif;
    color: white;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    transition: .05s;
    font-size: 15px;
}

header li a:hover {
    color: #7c7c7c;
    transform: scale(1.05);
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0px 40px;
}

.btn-contato button:hover {
    color: #fff;
    border-radius: 0px;
}

.menu-desktop a {
    position: relative;
    text-decoration: none;
    color: #7c7c7c;
    padding-bottom: 5px;
}

.menu-desktop a.ativo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #00ff6a; /* Cor da linha */
    transition: 0.3s ease-in-out;
}

/* ===================== ESTILO DO MENU MOBILE =====================*/

.menu-mobile {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    
}

.abrir-menu{
    display: none;
}

.menu-mobile.abrir-menu {
    width: 70%;
    transition: .2s;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile.fechando-menu {
    width: 0%;
    transition: .2s;
}

.overlay-menu {
    background-color: #00000096;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.abrir-menu i {
    display: inline-block;
    color:#00ff6a;
    font-size: 40px;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #00ff6a;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
    font-weight: bolder;
}

.menu-mobile nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ou center, dependendo do que deseja */
    padding: 0;
}

.menu-mobile nav ul li {
    width: 100%; /* Para ocupar toda a largura do menu */
    text-align: right; /* Para alinhar o texto à esquerda */
    padding: 10px 0; /* Espaçamento entre os itens */
}

/* ===================== ESTILO DO RODAPÉ ===================== */

footer {
    margin-top: 150px;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #00ff6a;
}

footer .line-footer p {
    color: #00ff6a;
}

footer .line-footer p i {
    font-size: 22px;
}

footer .line-footer p a {
    text-transform: none;
    text-decoration: none;
    color: #fff;
}

/* ===================== ICONES ===================== */

i {
    font-size: 20px;
    color: #000000;
}

#icon-email i {
    font-size: 20px;
    color: #00ff6a;
}

.icon-footer {
    background-color: #00ff6a;
    padding: 15px;
    border-radius: 8rem;
    border: none;
    display: inline-block;
    gap: 30px;
}

.btn-social button:hover {
    color: #fff;
    box-shadow: 0px 0px 10px #00ff6a;
    transform: scale(1.05);
    transition: .07s;
}

/* ===================== MARCAS - CARROS ===================== */

.marcas {
    width: 70%;
    height: 70px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.marca {
    width: 70px;
    height: 70px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.marca img {
    width: 90px;
    height: 60px;
}

#marca1 img {
    margin-top: 10px;
    width: 100px;
    height: 40px;
}

#marca5 img {
    width: 100px;
    height: 60px;
    margin-left: -20px;
}

#marca6 img {
    width: 100px;
    height: 60px;
    margin-left: -20px;
}

/* ===================== RESPONSIVIDADE ===================== */

@media (max-width: 600px) {
    .slider {
        width: 150px;
        height: 100px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }

    .marcas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }

    footer {
        margin-top: 150px;
    }

    header a {
        display: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        padding: 10px 2%;
        background-color: #000000;
        font-family: Arial, Helvetica, sans-serif;
    }

    header nav ul {
        display: none;
    }

    .abrir-menu{
        display: block;
        margin-left: 250px;
    }

    #modo-toggle {
        position: relative;
        top: -1px;
        right: 70px;
    }

    .filtro {
        border: none;
        text-decoration: none;
        text-transform: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 50px 0px;
        justify-content: center;
        align-items: center;
        width: 1000px;
    }
    
    select{
        text-align: center;
        padding: 5px;
        width: 170px;
        border-radius: 10px;
        background-color: beige;
    }

    #preco {
        border-radius: 2px;
        padding: 0px;
        background-color: #00ff6a;
    }
    
    .filtro input {
        border: none;
        padding: 10px 5px;
        border-radius: 10px;
        background-color: beige;
    }
    
    .filtro label {
        margin-top: 30px;
    }

    input, select{
        border: none;
        outline: none;
    }

    .marcas {
        margin-bottom: 400px;
    }

    #marca5 img {
        width: 100px;
        height: 60px;
        margin-left: -9px;
    }
    
    #marca6 img {
        width: 100px;
        height: 60px;
        margin-left: -10px;
    }

    .topo-do-site {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center; 
        font-size: 20px;
    }

    .menu-mobile #li-contato {
        color: #00ff6a;
    }

    .menu-mobile nav ul li a:hover {
        background-color: #00ff6a;
        color: #000;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
    }

    .menu-mobile #li-contato:hover {
        color: #000000;
        font-weight: bolder;
    }

    .saiba-mais button {
        height: 6vh;
    }

}

@media (max-width: 400px) {
    .slider {
        width: 150px;
        height: 100px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }

    .marcas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }

    footer {
        margin-top: 150px;
    }

    header a {
        display: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        padding: 10px 2%;
        background-color: #000000;
        font-family: Arial, Helvetica, sans-serif;
    }

    header nav ul {
        display: none;
    }

    .abrir-menu{
        display: block;
        margin-left: 240px;
    }

    #modo-toggle {
        position: relative;
        top: auto;
        right: 70px;
    }

    .filtro {
        border: none;
        text-decoration: none;
        text-transform: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 50px 0px;
        justify-content: center;
        align-items: center;
        width: 1000px;
    }
    
    select{
        text-align: center;
        padding: 5px;
        width: 170px;
        border-radius: 10px;
        background-color: beige;
    }

    #preco {
        border-radius: 2px;
        padding: 0px;
        background-color: #00ff6a;
    }
    
    .filtro input {
        border: none;
        padding: 10px 5px;
        border-radius: 10px;
        background-color: beige;
    }
    
    .filtro label {
        margin-top: 30px;
    }

    input, select{
        border: none;
        outline: none;
    }

    .marcas {
        margin-bottom: 400px;
    }

    #marca5 img {
        width: 100px;
        height: 60px;
        margin-left: -9px;
    }
    
    #marca6 img {
        width: 100px;
        height: 60px;
        margin-left: -10px;
    }

    .topo-do-site {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center; 
        font-size: 20px;
    }

    .menu-mobile #li-contato {
        color: #00ff6a;
    }

    .menu-mobile nav ul li a:hover {
        background-color: #00ff6a;
        color: #000;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
    }

    .menu-mobile #li-contato:hover {
        color: #000000;
        font-weight: bolder;
    }

    .saiba-mais button {
        height: 6vh;
    }

}

@media (min-width: 1380px) {
    .slider {
        width: 350px;
        height: 300px;
        overflow: hidden;
        position: relative;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }

    .marcas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }

    footer {
        margin-top: 300px;
    }

    header {
        padding: 10px 4%;
        background-color: #000000;
    }
    
    header > .interface {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
    
    .interface h1 {
        color: white;
    }
    
    header a {
        font-family: 'Times New Roman', Times, sans-serif;
        color: white;
        text-decoration: none;
        text-transform: none;
        display: inline-block;
        transition: .05s;
        font-size: 15px;
    }
    
    header li a:hover {
        color: #7c7c7c;
        transform: scale(1.05);
    }
    
    header nav ul {
        list-style: none;
        display: flex;
    }
    
    header nav.menu-desktop ul li {
        display: inline-block;
        padding: 0px 40px;
    }
    
    .btn-contato button:hover {
        color: #fff;
        border-radius: 0px;
    }
    
    .menu-desktop a {
        position: relative;
        text-decoration: none;
        color: #7c7c7c;
        padding-bottom: 5px;
    }
    
    .menu-desktop a.ativo::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: #00ff6a; /* Cor da linha */
        transition: 0.3s ease-in-out;
    }

    .abrir-menu{
        display: none;
        margin-left: 250px;
    }

    #modo-toggle {
        top: auto;
        right: 260px;
    }

    #marca5 img {
        width: 100px;
        height: 60px;
        margin-left: -9px;
    }
    
    #marca6 img {
        width: 100px;
        height: 60px;
        margin-left: -10px;
    }

    .topo-do-site {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center; 
        font-size: 20px;
    }
    
    .topo-do-site .txt-topo-do-site p {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        margin-top: 120px;
        margin-bottom: 120px;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-align: justify;
        padding: 40px;
        width: 100%;
        height: 300px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        line-height: 30px;
    }

    .menu-mobile #li-contato {
        color: #00ff6a;
    }

    .menu-mobile nav ul li a:hover {
        background-color: #00ff6a;
        color: #000;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
    }

    .menu-mobile #li-contato:hover {
        color: #000000;
        font-weight: bolder;
    }

    .horario{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -30px;
    }
    
    .horario p {
        background-color: #087f23;
        border-radius: 5px;
        width: 60%;
        margin-bottom: 100px;
    }

    .texto-topo {
        display: flex;
        margin-top: 200px;
        margin-bottom: 100px;
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
    
    .texto-topo p {
        text-align: center;
        font-size: 20px;
        width: 90%;
        
    }
    
    #venda-seu-carro {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fdf6f605;
        width: 100%;
        height: 1000px;
        margin: 0px 0px;
        flex-direction: column;
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 100% 100%, 0% 100%, 0% 0%);
    }
    
    .venda {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 1000px;
        clip-path: polygon(10% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 10%);
    }
    
    input {
        padding: 10px;
        margin: 10px;
        border-radius: 6px;
        border: none;
        outline: none;
        background-color: beige;
        
    }
    
    form {
        display: block;
        text-align: center;
        width: 100%;
    }

    #km {
        margin-top: -11px;
    }

    .carros {
        display: flex;
        flex-wrap: wrap;
        gap: 90px;
        justify-content: center;
        width: 1200px;
    }
    
    .carro {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 510px;
        color: #4D5C7B;
        font-weight: bolder;
        background-color: whitesmoke;
        border-radius: 3px;
    }
}