/*============================ CARRO 12 ===============================*/

#carro1-inicio {
    background-image: url('carro12-capa.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro2-inicio {
    background-image: url('carro12-1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro3-inicio {
    background-image: url('carro12-2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro4-inicio {
    background-image: url('carro12-3.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro5-inicio {
    background-image: url('carro12-4.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro6-inicio {
    background-image: url('carro12-5.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro7-inicio {
    background-image: url('carro12-6.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
