/*============================ CARRO 11 ===============================*/

#carro1-inicio {
    background-image: url('carro11-capa.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro2-inicio {
    background-image: url('carro11-1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro3-inicio {
    background-image: url('carro11-2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro4-inicio {
    background-image: url('carro11-3.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro5-inicio {
    background-image: url('carro11-4.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro6-inicio {
    background-image: url('carro11-5.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro7-inicio {
    background-image: url('carro11-6.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}