/*============================ CARRO 6 ===============================*/

#carro1-inicio {
    background-image: url('carro6-capa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro2-inicio {
    background-image: url('carro6-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro3-inicio {
    background-image: url('carro6-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro4-inicio {
    background-image: url('carro6-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro5-inicio {
    background-image: url('carro6-4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carro6-inicio {
    background-image: url('carro6-5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


