/* ===================== ESTILO GERAL ===================== */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-geral {
    background-color: aqua;
    width: 90vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.caixa-geral h1 {
    text-align: center;
    margin: auto;
}

.caixa-burguers {
    background-color: green;
    width: 90%;
    height: 92vh;
    display: flex;
    align-self: center;
    justify-self: center;
    margin: auto;
}

.burguer {
    width: 600px;
    height: 250px;
    display: flex;
}

.desc p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: auto;
    text-overflow: ellipsis; /* Adiciona "..." no final */
}

.desc p::-webkit-scrollbar { /* Esconde a barra de rolagem */
    display: none;
}